<!-- 
<nav class="navbar navbar-expand-lg navbar-secondary">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <h1 class="DriveAway d-inline-block align-text-top "> Drive<span class="logo">Away</span> </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               

            </ul>
            <form class="d-flex"> 
                <button class="btn btn-outline-primary round-button mx-2" type="button" >Login</button>
                <button class="btn btn-success round-button" type="button">Register</button>
            </form>
        </div>
    </div>
</nav> -->

<div id="booking">
    <form id="form">
        <h1 class="rent-car">Looking to rent a car </h1>
        <div class="car-find">
          <p>more days you rent - more discount you get!</p>
          <a class="navbar-brand" href="search"> <button id="primaryButton" type="button">FIND CARS</button>   </a>
        </div>
  
    </form>
</div>
  



<div class="information_slide d-flex text-center justify-content-center">
    <div class="info">
        <div class="slide_photo"> <img src="assets/car1.png" alt="photo"></div>
        <div class="slide-text"> 
            <h5>RIGHT TIME, RIGHT PLACE</h5> <br>
            <div> Your chauffeur will always be waiting for you in the designated place. No waiting in line – you’ll be taken care of immediately and right up until you reach your destination, allowing you a moment to yourself and saving you time.</div>
        </div>
    </div>
</div>


<app-car-cards></app-car-cards>


<!-- 
<div class="row car-list-home-container">
    <div class="car-list-home-container">
        <div class="car-list-home">
            <div class="row">
                <div class="col-3">
                    <section class="car-list-card">
                        <div class="car-list-card-image" style="height: 160px;">
                          <img
                                src="https://hips.hearstapps.com/hmg-prod/images/2022-camry-xse-blueprint-009-1637603214.jpg">
                        </div>
                        <div class="car-list-card-description">
                            <div class="car-list-card-description-reviews">
                                <div class="car-list-card-description-reviews-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                                <div class="car-list-card-description-reviews-value">
                                    4.98
                                </div>
                                <div class="car-list-card-description-reviews-count">
      
                                </div>
                            </div>
                            <div class="car-list-card-description-title">
                              Toyota Camry 
                            </div>
                            <div class="car-list-card-description-properties">
                                <div class="car-list-card-description-properties-property">
                                  Auto
                                    <div class="property-point"></div>
                                </div>
                                <div class="car-list-card-description-properties-property">
                                    Petrol
                                    <div class="property-point"></div>
                                </div>
                                <div class="car-list-card-description-properties-property">
                                    5 Seats
                                </div>
                            </div>
                        </div>
      
                        <div class="car-list-card-price-distance">
                            <div class="car-list-card-price">
                                <div class="car-list-card-price-availability-text">
                                    Available
                                </div>
                                <div class="car-list-card-price-title">
                                    180$/Day
                                </div>
                                <div class="car-list-card-price-sub-title">
      
                                </div>
                            </div>
                            <div class="car-list-card-distance">
                                <div class="car-list-card-distance-place text-center d-flex justify-content-center align-items-center"> <span class="material-symbols-outlined"> pin_drop </span>
                                    Tbilisi
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
      
      
      
                
                <div class="col-3">
                    <section class="car-list-card">
                        <div class="car-list-card-image" style="height: 160px;">
                          <img
                                src="https://www.topgear.com/sites/default/files/cars-car/image/2018/01/ford_2017_ecosport_019.jpg">
                        </div>
                        <div class="car-list-card-description">
                            <div class="car-list-card-description-reviews">
                                <div class="car-list-card-description-reviews-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                                <div class="car-list-card-description-reviews-value">
                                    4.98
                                </div>
                                <div class="car-list-card-description-reviews-count">
      
                                </div>
                            </div>
                            <div class="car-list-card-description-title">
                                Ford Ecosport 2019 
                            </div>
                            <div class="car-list-card-description-properties">
                                <div class="car-list-card-description-properties-property">
                                  Auto
                                    <div class="property-point"></div>
                                </div>
                                <div class="car-list-card-description-properties-property">
                                    Petrol
                                    <div class="property-point"></div>
                                </div>
                                <div class="car-list-card-description-properties-property">
                                    5 Seats
                                </div>
                            </div>
                        </div>
                        <div class="car-list-card-price-distance">
                            <div class="car-list-card-price">
                                <div class="car-list-card-price-availability-text">
                                    Available
                                </div>
                                <div class="car-list-card-price-title">
                                    100/day
                                </div>
                                <div class="car-list-card-price-sub-title">
      
                                </div>
                            </div>
                            <div class="car-list-card-distance">
                                <div class="car-list-card-distance-place text-center d-flex justify-content-center align-items-center">  <span class="material-symbols-outlined"> pin_drop </span>
                                  Batumi
                                </div>
                            </div>
                        </div>
                    </section>
                </div>




                <div class="col-3">
                    <section class="car-list-card">
                        <div class="car-list-card-image" style="height: 160px;">
                          <img
                                src="https://i.ytimg.com/vi/vBI5gVmibCE/maxresdefault.jpg">
                        </div>
                        <div class="car-list-card-description">
                            <div class="car-list-card-description-reviews">
                                <div class="car-list-card-description-reviews-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                                <div class="car-list-card-description-reviews-value">
                                    4.98
                                </div>
                                <div class="car-list-card-description-reviews-count">
      
                                </div>
                            </div>
                            <div class="car-list-card-description-title">
                              Toyota C-HR 2023
                            </div>
                            <div class="car-list-card-description-properties">
                                <div class="car-list-card-description-properties-property">
                                  Auto
                                    <div class="property-point"></div>
                                </div>
                                <div class="car-list-card-description-properties-property">
                                    Petrol
                                    <div class="property-point"></div>
                                </div>
                                <div class="car-list-card-description-properties-property">
                                    5 Seats
                                </div>
                            </div>
                        </div>
                        <div class="car-list-card-price-distance">
                            <div class="car-list-card-price">
                                <div class="car-list-card-price-availability-text">
                                    Available
                                </div>
                                <div class="car-list-card-price-title">
                                  80$/day
                                </div>
                                <div class="car-list-card-price-sub-title">
      
                                </div>
                            </div>
                            <div class="car-list-card-distance">
                                <div class="car-list-card-distance-place text-center d-flex justify-content-center align-items-center"> <span class="material-symbols-outlined"> pin_drop </span>
                                    Tbilisi
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
      
      
      
                <div class="col-3">
                    <section class="car-list-card">
                        <div class="car-list-card-image" style="height: 160px;">
                          <img
                                src="https://www.cars.com/i/large/in/v2/stock_photos/af2f5d46-41d6-4487-935d-8d676da54a35/1f59c510-5a34-43eb-b0a7-dceee0fe6a28.png">
                        </div>
                        <div class="car-list-card-description">
                            <div class="car-list-card-description-reviews">
                                <div class="car-list-card-description-reviews-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                                <div class="car-list-card-description-reviews-value">
                                    4.98
                                </div>
                                <div class="car-list-card-description-reviews-count">
      
                                </div>
                            </div>
                            <div class="car-list-card-description-title">
                              Jeep Renegade 2020
                            </div>
                            <div class="car-list-card-description-properties">
                                <div class="car-list-card-description-properties-property">
                                  Auto
                                    <div class="property-point"></div>
                                </div>
                                <div class="car-list-card-description-properties-property">
                                    Petrol
                                    <div class="property-point"></div>
                                </div>
                                <div class="car-list-card-description-properties-property">
                                    5 Seats
                                </div>
                            </div>
                        </div>
                        <div class="car-list-card-price-distance">
                            <div class="car-list-card-price">
                                <div class="car-list-card-price-availability-text">
                                    Available
                                </div>
                                <div class="car-list-card-price-title">
                                    120$/day
                                </div>
                                <div class="car-list-card-price-sub-title">
                                </div>
                            </div>
                            <div class="car-list-card-distance ">
                                <div class="car-list-card-distance-place text-center d-flex justify-content-center align-items-center "> <span class="material-symbols-outlined"> pin_drop </span>
                                    Batumi
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
      
      
                <div class="col-3">
                    <section class="car-list-card">
                        <div class="car-list-card-image" style="height: 160px;">
                          <img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0Y3gZj_EBAMuILDiVQ9FCNFM9zyubXamHSmPmId6h7Q&s">
                        </div>
                        <div class="car-list-card-description">
                            <div class="car-list-card-description-reviews">
                                <div class="car-list-card-description-reviews-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                                <div class="car-list-card-description-reviews-value">
                                    4.98
                                </div>
                                <div class="car-list-card-description-reviews-count">
      
                                </div>
                            </div>
                            <div class="car-list-card-description-title">
                              Mitsubishi Outlander Sport 2021
                            </div>
                            <div class="car-list-card-description-properties">
                                <div class="car-list-card-description-properties-property">
                                  Auto
                                    <div class="property-point"></div>
                                </div>
                                <div class="car-list-card-description-properties-property">
                                    Petrol
                                    <div class="property-point"></div>
                                </div>
                                <div class="car-list-card-description-properties-property">
                                    5 Seats
                                </div>
                            </div>
                        </div>
                        <div class="car-list-card-price-distance">
                            <div class="car-list-card-price">
                                <div class="car-list-card-price-availability-text">
                                    Available 
                                </div>
                                <div class="car-list-card-price-title">
                                   120$/day
                                </div>
                                <div class="car-list-card-price-sub-title">
      
                                </div>
                            </div>
                            <div class="car-list-card-distance">
                                <div class="car-list-card-distance-place text-center d-flex justify-content-center align-items-center"> <span class="material-symbols-outlined"> pin_drop </span>
                                    Batumi
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
      
      
      
                <div class="col-3">
                  <section class="car-list-card">
                      <div class="car-list-card-image" style="height: 160px;">
                        <img
                              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_tJWVQmrb7MuYrmi8CeeKTx6Q-EiMBlkTSbyOt4y2fA&s">
                      </div>
                      <div class="car-list-card-description">
                          <div class="car-list-card-description-reviews">
                              <div class="car-list-card-description-reviews-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                              <div class="car-list-card-description-reviews-value">
                                  4.99
                              </div>
                              <div class="car-list-card-description-reviews-count">
      
                              </div>
                          </div>
                          <div class="car-list-card-description-title">
                            Suzuki S Cross 2023
                          </div>
                          <div class="car-list-card-description-properties">
                              <div class="car-list-card-description-properties-property">
                                Auto
                                  <div class="property-point"></div>
                              </div>
                              <div class="car-list-card-description-properties-property">
                                Hybrid
                                  <div class="property-point"></div>
                              </div>
                              <div class="car-list-card-description-properties-property">
                                  5 Seats
                              </div>
                          </div>
                      </div>
                      <div class="car-list-card-price-distance">
                          <div class="car-list-card-price">
                              <div class="car-list-card-price-availability-text">
                                  Available 
                              </div>
                              <div class="car-list-card-price-title">
                                 70$/day
                              </div>
                              <div class="car-list-card-price-sub-title">
      
                              </div>
                          </div>
                          <div class="car-list-card-distance">
                              <div class="car-list-card-distance-place text-center d-flex justify-content-center align-items-center"> <span class="material-symbols-outlined"> pin_drop </span>
                                  Tbilisi
                              </div>
                          </div>
                      </div>
                  </section>
              </div>
      
              
      
              <div class="col-3">
                <section class="car-list-card">
                    <div class="car-list-card-image" style="height: 160px;">
                      <img
                            src="https://imgr1.auto-motor-und-sport.de/Honda-HR-V-2021-jsonLd4x3-dd4cbcd9-1767296.jpg">
                    </div>
                    <div class="car-list-card-description">
                        <div class="car-list-card-description-reviews">
                            <div class="car-list-card-description-reviews-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                            <div class="car-list-card-description-reviews-value">
                                4.98
                            </div>
                            <div class="car-list-card-description-reviews-count">
      
                            </div>
                        </div>
                        <div class="car-list-card-description-title">
                          Honda HR-V  2022
                        </div>
                        <div class="car-list-card-description-properties">
                            <div class="car-list-card-description-properties-property">
                                Manual
                                <div class="property-point"></div>
                            </div>
                            <div class="car-list-card-description-properties-property">
                                Petrol
                                <div class="property-point"></div>
                            </div>
                            <div class="car-list-card-description-properties-property">
                                5 Seats
                            </div>
                        </div>
                    </div>
                    <div class="car-list-card-price-distance">
                        <div class="car-list-card-price">
                            <div class="car-list-card-price-availability-text">
                                Available 
                            </div>
                            <div class="car-list-card-price-title">
                               50$/day
                            </div>
                            <div class="car-list-card-price-sub-title">
      
                            </div>
                        </div>
                        <div class="car-list-card-distance">
                            <div class="car-list-card-distance-place text-center d-flex justify-content-center align-items-center"> <span class="material-symbols-outlined"> pin_drop </span>
                                Batumi
                            </div>
                        </div>
                    </div>
                </section>
            </div>
      
      
      
      
      
            <div class="col-3">
              <section class="car-list-card">
                  <div class="car-list-card-image" style="height: 160px;">
                    <img
                          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShmzfCx7DsWZG--JNZi2IeyRpMxxepgYRboyKmdv-Itg&s">
                  </div>
                  <div class="car-list-card-description">
                      <div class="car-list-card-description-reviews">
                          <div class="car-list-card-description-reviews-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                          <div class="car-list-card-description-reviews-value">
                              4.98
                          </div>
                          <div class="car-list-card-description-reviews-count">
      
                          </div>
                      </div>
                      <div class="car-list-card-description-title">
                        Renault Duster 2022
                      </div>
                      <div class="car-list-card-description-properties">
                          <div class="car-list-card-description-properties-property">
                              Manual
                              <div class="property-point"></div>
                          </div>
                          <div class="car-list-card-description-properties-property">
                              Petrol
                              <div class="property-point"></div>
                          </div>
                          <div class="car-list-card-description-properties-property">
                              5 Seats
                          </div>
                      </div>
                  </div>
                  <div class="car-list-card-price-distance">
                      <div class="car-list-card-price">
                          <div class="car-list-card-price-availability-text">
                              Available 
                          </div>
                          <div class="car-list-card-price-title">
                             60$/day
                          </div>
                          <div class="car-list-card-price-sub-title">
      
                          </div>
                      </div>
                      <div class="car-list-card-distance">
                          <div class="car-list-card-distance-place text-center d-flex justify-content-center align-items-center"> <span class="material-symbols-outlined"> pin_drop </span>
                              Tbilisi
                          </div>
                      </div>
                  </div>
              </section>
          </div>
      
      
            </div>
      
        </div>
      </div> 
</div>
   -->


  <footer>
    <div class="footer" >
        <div class="about_class"> 
            <h3> About Us</h3>
            <h6 class="about_us">We are a local company that has been working on Georgian market for more than 5 years.
             During these years we have gained the reputation of the biggest, cheapest and best rated company on the market, providing our customers with best service.</h6>
        </div>
        <div class="contactUs">
            <h4> Contact Us</h4> <br>
            <p> DriveAway@gmail.com</p>
            <p>595 12 34 56</p>
        </div>
        

    </div>
  </footer> 

