<!-- 
<nav class="navbar navbar-expand-lg navbar-secondary">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <h1 class="DriveAway d-inline-block align-text-top "> Drive<span class="logo">Away</span> </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               

            </ul>
            <form class="d-flex"> 
                <button class="btn btn-outline-primary round-button mx-2" type="button" >Login</button>
                <button class="btn btn-success round-button" type="button">Register</button>
            </form>
        </div>
    </div>
</nav> -->

<div id="booking">
    <form id="form">
        <h1 class="rent-car">Looking to rent a car </h1>
        <div class="car-find">
          <p>more days you rent - more discount you get!</p>
          <a class="navbar-brand" href="search"> <button id="primaryButton" type="button">FIND CARS</button>   </a>
        </div>
  
    </form>
</div>
  



<div class="information_slide d-flex text-center justify-content-center">
    <div class="info">
        <div class="slide_photo"> <img src="assets/car1.png" alt="photo"></div>
        <div class="slide-text"> 
            <h5>RIGHT TIME, RIGHT PLACE</h5> <br>
            <div> Your chauffeur will always be waiting for you in the designated place. No waiting in line – you’ll be taken care of immediately and right up until you reach your destination, allowing you a moment to yourself and saving you time.</div>
        </div>
    </div>
</div>


<app-car-cards></app-car-cards>




  <footer>
    <div class="footer" >
        <div class="about_class"> 
            <h3> About Us</h3>
            <h6 class="about_us">We are a local company that has been working on Georgian market for more than 5 years.
             During these years we have gained the reputation of the biggest, cheapest and best rated company on the market, providing our customers with best service.</h6>
        </div>
        <div class="contactUs">
            <h4> Contact Us</h4> <br>
            <p> DriveAway@gmail.com</p>
            <p>595 12 34 56</p>
        </div>
        

    </div>
  </footer> 

