<nav class="navbar navbar-expand-lg navbar-secondary">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <h1 class="DriveAway d-inline-block align-text-top">Drive<span class="logo">Away</span></h1>
    </a>

    <button  class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-components text-center" [ngClass]="{'show-menu': showMenu}">
      <a href="home">
        <button class="btn nav-tabs round-button" type="button">Home</button>
      </a>
      <a class="navbar-brand" href="search">
        <button class="btn nav-tabs round-button" type="button">Cars</button>
      </a>
      <a class="navbar-brand" href="buyCars">
        <button class="btn nav-tabs round-button" type="button">Buy Car</button>
      </a>
      <a class="navbar-brand" href="booking">
        <button class="btn nav-tabs round-button" type="button">Partners</button>
      </a>
      <a class="navbar-brand" href="aboutUs">
        <button class="btn nav-tabs round-button" type="button">About</button>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <form class="d-flex" *ngIf="loggedUserObj">
        <a *ngIf="loggedUserObj" href="userRents">
          <button class="btn nav-tabs round-button" type="button">Rent A Car</button>
        </a>        
        <button class="btn round-button mx-2" type="button">{{loggedUserObj.name}} Emilys</button>
        <button class="btn btn-success round-button" (click)="logOff()" type="button">Log Off</button>
      </form>
      <form class="d-flex" *ngIf="!loggedUserObj">
        <button class="btn btn-outline-primary round-button mx-2" type="button" (click)="openLogin()">Login</button>
        <button class="btn btn-success round-button" (click)="openRegister()" type="button">Register</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="modal" id="registerModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" class="btn-close" (click)="closeRegister()" data-bs-dismiss="modal"></button>
      </div>
      <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col-6">
              <label for="name">Name</label>
              <input type="text" id="name" [(ngModel)]="registerObj.name" name="name" class="form-control" required>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-5">
              <label for="email">Email</label>
              <input type="email" id="email" [(ngModel)]="registerObj.emailId" name="email" class="form-control" required>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <label for="mobile">Mobile No</label>
              <input type="text" id="mobile" [(ngModel)]="registerObj.mobileNo" name="mobile" class="form-control" required>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-5">
              <label for="role">Who Are You</label>
              <select id="role" [(ngModel)]="registerObj.userRole" name="role" class="form-control" required>
                <option value="">Select Your Role</option>
                <option value="customer">Customer</option>
                <option value="carowner">Car Owner</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-5">
              <label for="password">Password</label>
              <input type="password" id="password" [(ngModel)]="registerObj.password" name="password" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeRegister()" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" (click)="openRegister()">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="btn-close" (click)="closeLogin()" data-bs-dismiss="modal"></button>
      </div>
      <form (ngSubmit)="login()" #registerForm="ngForm">
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col-12">
              <label for="user">username</label>
              <input type="text" #username="ngModel" name="username" id="user" [(ngModel)]="user.username" required>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="pwd">password</label>
              <input type="password" #password="ngModel" name="password" id="pwd" [(ngModel)]="user.pwd" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeLogin()">Close</button>
          <button type="submit" class="btn btn-success" (click)="login()">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div *ngIf="showLoginSuccessAlert" class="alert alert-success" role="alert">
  Login Successful. Welcome!
</div> -->
