/* .navbar-components{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    gap: 20px;
}
 */
 /* .navbar {
    position: relative;
 } */
    /* .navbar-toggler {
    display: none;
  } */
  
  /* .navbar-components {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .navbar-components a {
    margin: 0 10px;
  }
   */
